{% extends 'base.html' %}
{% block content %}
<h1> Relacje z konwentów </h1>
 
  <div class=container>
  <nav>
  {% for year in years %}
  <a href='{% url 'events' year=year %}'>{{ year }}</a>
  {% endfor %}
  </nav>
  <div>

  {% for event in events %} 
     <ul>
      <div> {{ event.name }} </div>
      <div> {{ event.description }} </div>
      <div> {{ event.year }} </div>
      <div><a href='{% url 'event' id=event.id %}'>Przeczytaj szczegóły w relacji</a></div>
      {% if perms.bora.edit_event %}
        <a href='{% url 'edit_event' id=event.id %}'>Edytuj</a></div>
      {% endif %}
    </ul>
  {% endfor %}
  {% if perms.bora.add_event %}
    <a href='{% url 'add_event' %}'>Dodaj wydarzenie</a></div>
  {% endif %}
{% endblock %}
